# MacOS hidden files
**/.DS_Store

# VS Code settings
.vscode

# Files built by Rust compiler
/target

# Mdbook
**/book

# Python
**/__pycache__

# Jupyter Notebook
**/.ipynb_checkpoints

# Jupyter Book
**/_build

# playground
/playground

# auxiliary files when compiling LaTeX 
**/*.aux
**/*.bbl
**/*.bcf
**/*.blg
**/*.fdb_latexmk
**/*.fls
**/*.log
**/*.out
**/*.run.xml
**/*.synctex.gz
**/*.toc
**/*.idx
**/*.ind
**/*.ilg
**/*.log
